QMainWindow {
    background-color: rgb(23, 25, 20);
}

QWidget {
    font-family: "Consolas";
    font-size: 10pt;
    color: rgb(220, 230, 220);
}

QPushButton {
    border: 1px solid rgba(220, 230, 220, 0.0);
    padding: 5px;
    font-weight: bold;
    min-width: 0px;
}
QPushButton:hover, QPushButton:pressed {
    border: 1px solid rgba(220, 230, 220, 0.7);
}
QPushButton:pressed {
    background-color: rgba(220, 230, 220, 0.3);
}