QMainWindow {
    background-color: rgb(23, 25, 20);
}

QWidget {
    font-family: "Consolas";
    font-size: 10pt;
    color: rgb(100, 230, 100);
}

QPushButton {
    border: 0px solid;
    border-color: rgb(100, 230, 100);
    padding: 5px;
    font-weight: bold;
    min-width: 0px;
}
QPushButton:hover {
    border: 1px solid rgb(100, 230, 100);
}
QPushButton:pressed{
    border: 1px solid rgb(100, 230, 100);
    background-color: rgba(100, 230, 100, 0.4);
}